

<div class="row">
    <div class="col-9">
        <div class="row  white-background" *ngIf = "cart | async as cart">
            <ng-container *ngFor="let p of products | async; let i = index" >
                <div class="col">
                    <br>
                    <product-card [product]="p" [shopping-cart]="cart" [cartID]='cartID' ></product-card>
                </div>
        
                <div class="w-100"></div>
            </ng-container>
            
        </div>
        
        <div *ngIf="appUser && appUser.isAdmin" class="addButton">
            <p>
                <button (click)="createNewProduct()" class="btn btn-link"><i class="fas fa-plus fa-4x"></i></button>
            </p>
        </div>
    </div>
    <div class="col-3 shoppingCart" *ngIf = "cart | async as cart">
        <app-shopping-cart  [cart]="cart" [cartID]='cartID'></app-shopping-cart>
        <br>
        <div class="row">
            <dov class="col-6">
                <button *ngIf="cart.items" class="btn btn-success" (click) = "checkout()">CHECKOUT</button>
            </dov>
            <dov class="col-6">
                <button *ngIf="cart.items" (click)="clearCart(id)" class="btn btn-danger">CLEAR</button>
            </dov>
        </div>
    </div>
</div>






