

.productImg {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background-size: cover;
    object-fit: cover;

}


.productBody{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.productButton{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fas{
    color: black;
}



